# Spotify Developer Dashboard에서 발급
# https://developer.spotify.com/dashboard
VITE_SPOTIFY_CLIENT_ID=

# Spotify Dashboard의 Redirect URI와 반드시 일치해야 함
# localhost는 Spotify 정책상 허용되지 않음
VITE_SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173
